JaxWSServicesSamples-8.5/src/SampleServicesSei/WebContent/WEB-INF/wsdl/Echo12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
# COPYRIGHT LICENSE: 
# This information contains sample code provided in source code form. You may 
# copy, modify, and distribute these sample programs in any form without 
# payment to IBM for the purposes of developing, using, marketing or 
# distributing application programs conforming to the application programming
# interface for the operating platform for which the sample code is written. 
# Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE
# ON AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, 
# INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF 
# MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, 
# TITLE, AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE 
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES
# ARISING OUT OF THE USE OR OPERATION OF THE SAMPLE SOURCE CODE. IBM HAS NO 
# OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS OR 
# MODIFICATIONS TO THE SAMPLE SOURCE CODE.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://com/ibm/was/wssample/sei/echo/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoService12"
	targetNamespace="http://com/ibm/was/wssample/sei/echo/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://com/ibm/was/wssample/sei/echo/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:element name="echoStringResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="echoResponse"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="echoStringInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="echoInput" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="echoOperationRequest">
		<wsdl:part element="tns:echoStringInput" name="parameter" />
	</wsdl:message>
	<wsdl:message name="echoOperationResponse">
		<wsdl:part element="tns:echoStringResponse" name="parameter" />
	</wsdl:message>
	<wsdl:portType name="EchoService12PortType">

		<wsdl:operation name="echoOperation">
			<wsdl:input message="tns:echoOperationRequest" />
			<wsdl:output message="tns:echoOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoSOAP12" type="tns:EchoService12PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="echoOperation">
			<soap:operation soapAction="echoOperation" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoService12">
		<wsdl:port binding="tns:EchoSOAP12" name="EchoService12Port">
			<soap:address
				location="http://localhost:9080/WSSampleSei/EchoService12" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
